<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/1b64934690.js" crossorigin="anonymous"></script>
  <title>My React Word Game</title>
 </head>
 <body>
  <div id="root"></div>
 </body>
</html>
